// MAIN Colorssssss

// pangaeaclub color -> light-blue = #75ccdc
// Arrow,TEXT, others -> the other color is closed to red = #fe5a59
// #FE5A59
@import "bootstrap/scss/bootstrap";

 .simple-form {
    display: flex;
    overflow-y: scroll;
    padding-bottom: 1.25rem;
    display: block;
  }
  .simple-form input {
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
  }
  .simple-form input:optional {
    border-left-color: #999;
  }
  .simple-form input:required {
    border-left-color: palegreen;
  }
  .simple-form input:invalid {
    border-left-color: salmon;
  }

  .simple-form input:required:focus:valid {
    background: url("https://png.pngtree.com/svg/20170411/correct_1359045.png") no-repeat 95% 50%;
    background-size: 15px;
  }

  
 /* ==== */
* {
  direction: rtl;
  box-sizing: border-box;
  -webkit-box-sizing: border-box
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-family: "Poppins",sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

//START NAV
.flex-grow-zero{
  flex-grow: 0 !important;
}

.flex-grow-zero a {
  // border-bottom-style: solid;
  // border-bottom-color: #fff;
  margin-right: 10px;
}

.navbar {
  // position: absolute;
  width: 100%;
}

.full-ul {
  width: 100%;
  padding: 0;
  text-align: center;
}


.navbar a {
  color:#fff !important;
}
//END NAV

// *********** START HOME PAGE *************

// -----
//START Header

.home-index header.masthead {
  // padding-top: 10rem;
  overflow: hidden;
  padding-bottom: calc(10rem - 4.5rem);
  // topography_bg.jpg
  background: linear-gradient(to bottom, rgba(0,1,2,0.4) 0%, rgba(92, 77, 66, 0.8) 100%), image-url("about-bg.jpg");
  // background: linear-gradient(to bottom, rgba(0,1,2,0.4) 0%, rgba(194, 51, 51, 0.8) 100%), image-url("topography_bg.jpg");
  // background: linear-gradient(to bottom, rgba(0,1,2,0.4) 0%, rgba(254,90,89,0.4) 100%), image-url("topography_bg.jpg");
  // background-image: image-url("about-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
  margin-bottom: 50px;
}
.bg_pangaeaclub {
  background-image: image-url("pangaeaclub.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     width: 130px;
    height: 70px;
}
// color the title in nav /////////
.home-index  .nav-item:first-child > a{
  color: #fe5a59 !important;
}
.navbar .nav-link {
  font-size: 1rem !important ;
  font-weight: bold  !important;
  color: #FFF;
    padding: .5rem 20px;
    font-family: 'Avenir-Book';
    font-weight: 600 !important;
    font-size: 16px;
    text-transform: capitalize;
    transition: .3s;
    display: inline-block;
    height: auto;
    text-decoration: none;
    padding-right: 0.5rem !important; 
    padding-left: 0.5rem !important;
}
.home-index .header-bg {
  background: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6));
}
.home-index {
  // background-color: #f8f9fa;
  background-color: #FFF;;
}
.home-index .txt-rotate{
  color: #fe5a59;
}
// The Mouse on the end of header 
.mouse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  z-index: 2;
}

.mouse-icon {
  width: 80px;
  height: 80px;
  border: 1px dotted #e63586d9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #75ccdc;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;

}

.arrow {
  animation-duration: 2s;
  -webkit-animation-iteration-count: 99;
  animation-iteration-count: 99;
  color: #fe5a59;
}

a:hover, a:focus {
  text-decoration: none;
  color: #fe5a59;
  outline: none !important;
}
.mouse-wheel {
  height: 80px;
  margin: 2px auto 0;
  display: block;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
  color: #fff;
  font-size: 20px;
  // overflow: hidden;
  margin-top: 30px;
}
.ion-ios-arrow-round-down:before {
    content: "\f118";
}


.ftco-degree-bg:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30px;
  overflow: visible;
  width: 50%;
  height: 70px;
  z-index: 1;
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  transform: skewY(4deg);
  background-color: #fff;
}

.ftco-degree-bg:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -30px;
  overflow: visible;
  width: 50%;
  height: 70px;
  z-index: 1;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  transform: skewY(-4deg);
  background-color: #fff;
}
//END Header
// -----



// START Section-0
#sec-0{
  margin: 10px auto;
}
.bg-primary-light {
  // background-color: #fdeaf0;
  background-color: #fe5a59;
}

.icon-rounded {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  position: relative;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.icon-rounded svg, .icon-rounded i {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

:not(svg) {
  transform-origin: 0px 0px;
}
svg {
  height: 40px;
  top: 10px;
  width: 40px;
  position: absolute;
  right: 10px;
}

svg-icon {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  stroke: currentColor;
  stroke-width: 3;
  --layer1: currentColor;
  --layer2: currentColor;
}


//END  Section-0



// START Journeys



/* journey slider */
.page-wrapper{
  margin: 50px auto;
}

.journey-slider {
  // border: 1px solid red;
  margin: 10px;
  position: relative;
}

.next {
  position: absolute;
  top:50%;
  right:-15px;
  font-size: 2em;
  color: #FFF;
  cursor: pointer;
  z-index: 99;
  background: white;
  border-radius: 33px;
  background: #fe5a59;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
}

.prev {
  position: absolute;
  top:50%;
  left:-15px;
  font-size: 2em;
  color: #FFF;
  cursor: pointer;
  z-index: 99;
  background: white;
  border-radius: 33px;
  background: #fe5a59;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
}
.prev:hover{
  font-size: 2.1em;
  box-shadow: 3px 3px 3px black;
}
.next:hover{
  font-size: 2.1em;
  box-shadow: 3px 3px 3px black;
}
.slider-title{
  text-align: right;
  margin: 30px auto;
}


.journey-wrapper {
  // border: 1px dashed red;
  width:100%;
  // height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0;
}

.journey {
  display: inline-block;
  // width: 300px !important;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px 5px 0px 0px !important;
  background-color: #F7F7F7;
  direction: none !important;
  // max-width:  289px !important ;
}
.trip-status{
  position: absolute;
  left: -10px;
  top: 130px;
  /* text-align: center; */
  background-color: #fe5a59;
  color: white;
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px black;
}

.trip-status span:after {
  border-left: 10px solid transparent;
  border-right: 0 solid transparent;
  border-top: 7px solid #fe5a59;
  bottom: -7px;
  content: "";
  left: 0;
  position: absolute;
}

.hold-img > img {
  height: 300px !important;
  width: 100%;
}
.float-right, .float-left{
  direction: ltr;
}

.slick-list, .draggable{
  direction: ltr;
}

.ltr > div{
  direction: ltr;
}


.btn-color{
  margin: 10px auto;
  background-color:#fe5a59;
  color: #fff;
}
.btn-color:hover{
  color: #fff;
}
.btn-footer{
  text-align: right !important;
}
//END  Journeys



// START GUIDES
.guide-wrapper {
  // border: 1px dashed red;
  width:100%;
  // height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0;
}
.journey-slider {
  // border: 1px solid red;
  margin: 10px;
  position: relative;
}

.next-guide {
  position: absolute;
  top:50%;
  right:-15px;
  font-size: 2em;
  color: #FFF;
  cursor: pointer;
  z-index: 99;
  background: white;
  border-radius: 33px;
  background: #fe5a59;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
}

.prev-guide {
  position: absolute;
  top:50%;
  left:-15px;
  font-size: 2em;
  color: #FFFF;
  cursor: pointer;
  z-index: 99;
  background: white;
  border-radius: 33px;
  background: #fe5a59;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid white;
}
.prev-guide:hover{
  font-size: 2.1em;
  box-shadow: 3px 3px 3px black;
}
.next-guide:hover{
  font-size: 2.1em;
  box-shadow: 3px 3px 3px black;
}
.mb-5, .my-5 {
  margin-bottom: 1rem !important;
}
.title-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  text-align: right;
}
.subtitle {
  margin-bottom: 0;
  letter-spacing: 0.1em;
  // color: #868e96;
  color: #75ccdc !important;
  font-weight: bold;
}
.text-primary {
  color: #fe5a59 !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.slick-dots{
  display: none !important;
}

.guide {
  display: inline-block;
  // width: 300px !important;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px 5px 0px 0px !important;
  // background-color: #F7F7F7;
  // direction: none !important;
  // max-width:  255px !important;
  max-width: 255px !important;
  max-height: 360px !important;
  // max-width:  350px !important;
  margin-top: 0;
  // margin-right: 30px;
}


// .single-destination {
//   // margin-top: 10px
//   // background-color: rgba(0,0,0,0.8);
// }

.destination-image {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
  z-index: 1;

}

.destination-image img {
  width: 100%;
  // background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.4) 50%);
 background-color: rgba(0,0,0,0.8);
}
.destination-image:after {
	background: -webkit-linear-gradient(bottom, rgba(4, 4, 4, 0.9), rgba(1, 1, 1, 0));
	background: linear-gradient(to top, rgba(4, 4, 4, 0.9), rgba(1, 1, 1, 0));
	opacity: 0.8;
	// -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	// content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 65%;
	border-radius: 5px;
}
.destination-title {
  position: absolute;
  bottom: 20px;
  z-index: 1;
  width: 100%;
  text-align: center;
}
.destination-title h3 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  letter-spacing: 0px;
  display: block;
  text-align: center;
}




// START GUIDE-SHOW
.guides-show .detalis-shows{
  display: flex;
  justify-content: center;
}
.guides-show .detalis-shows > h5{
  font-weight: 100;
}
.guides-show .detalis-shows > strong{
  margin-left: 5px;
}


.guides-show  .guide-description{
  margin-top: 20px;
}


// .gallery {
//   -webkit-column-count: 3;
//   -moz-column-count: 3;
//   column-count: 3;
//   -webkit-column-width: 33%;
//   -moz-column-width: 33%;
//   column-width: 33%; }
//   .gallery .pics {
//   -webkit-transition: all 350ms ease;
//   transition: all 350ms ease; }
//   .gallery .animation {
//   -webkit-transform: scale(1);
//   -ms-transform: scale(1);
//   transform: scale(1); }
  
//   @media (max-width: 450px) {
//   .gallery {
//   -webkit-column-count: 1;
//   -moz-column-count: 1;
//   column-count: 1;
//   -webkit-column-width: 100%;
//   -moz-column-width: 100%;
//   column-width: 100%;
//   }
//   }
  
//   @media (max-width: 400px) {
//   .btn.filter {
//   padding-left: 1.1rem;
//   padding-right: 1.1rem;
//   }
//   }
.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
}

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
  border-radius: 4px;
}

.baguetteBox-button {
  background-color: transparent !important;
}


@media(max-width: 768px) {
  body {
      padding: 0;
  }

  .container.gallery-container {
      border-radius: 0;
  }
}
#baguetteBox-slider{
  direction: ltr !important;
}
// END GUIDE

// START REVIEWS
.bg-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.15) 58%);
  height: 100%;
}
#travel-review-area .slick-slide {
  padding: 0 15px;
}
.travel-review__avatar img {
  margin: -50% 0 18px;
}
.travel-review__avatar > img {
  width: 270px;
  height: 180px;  
}
.travel-review {
  margin: 60px 0;
  padding: 0 50px 40px;
  display: inline-flex !important;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  -ms-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.15);
}
.travel-review__name {
  text-transform: uppercase;
  text-shadow: 0px 1px #a3a3a3;
  font-family: Lato-regular;
  font-size: 17px;
  color: black;
  font-weight: normal;
}

.travel-review__career {
  margin: 5px 0;
  text-shadow: 1px 1px #e8e8e8;
  font-family: Lato-regular;
  font-size: 15px;
  color: #999999;
  font-weight: normal;
}
.travel-review__rating--4-star::before {
  content: "\f005 \f005 \f005 \f005 \f006 \f000";
  font-family: FontAwesome;
  color: #ffc600;
}
.fa-star {
  color:#ffc600;
  display: right;
}

.travel-review__content {
  margin: 20px 0 0;
  font-family: Lato-regular;
  font-size: 18px;
  color: #666666;
  font-weight: normal;
}

.review{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // align-content: space-around;
}
.title-reviews{
  height: 183px;
}

.text-blue{
  color:#75ccdc;
}
.team-white{
  color:#FFF;
}
#sec-3{
  padding: 50px 0;  
}
// END REVIEWS





// START TEAM
.team-title{
  padding-top: 50px;
  height: 260px;
}
.pangaclub-bg{
  background: linear-gradient(to bottom, rgba(0,1,2,0.4) 0%, rgba(254,90,89,0.4) 100%), image-url("topography_bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.py-6 {
  padding-bottom: 6rem !important;
}


.hover-animate {
  transition: all 0.2s ease-in-out;
}
bg-transparent {
  background-color: transparent !important;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: .4rem;
}
.team-img {
  position: relative;
  z-index: 20;
  max-width: 100%;
}
.card-img, .card-img-top {
  border-top-left-radius: calc(.4rem - 1px);
  border-top-right-radius: calc(.4rem - 1px);
}

.card-img, .card-img-top, .card-img-bottom {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
}
.bg-secondary-light {
  background-color: #eaedfe;
}
.team-circle {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  border-radius: 50%;
  // background-color: #fdeaf0;
  // background-color: #fe5a59;
  background-color: #75ccdc;
  z-index: 0;
}

.team-body {
  position: relative;
  border-radius: .4rem;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0,0,0,0.15);
}

.team-row{
  align-items: flex-end;
}
.team-row > div {
  overflow: hidden;
}
// 
// END TEAM




//START FOOTER
 .site-footer {
  padding: 5em 0;
  background: #262626;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
 .site-footer a {
  color: #e74208;
  border-bottom: 1px solid transparent;
}

 .site-footer {
  direction: ltr !important;
}

 .site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}

 .footer-social a {
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
}
 .list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-angle-left:before {
  position: absolute;
  top: 4px;
  left: 9px;
}
.fa-angle-right:before {
  position: absolute;
  top: 4px;
  right: 9px;
}
 .p-2 {
  padding: 0.5rem !important;
}

 .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

 .fa-twitter:before {
  content: "\f099";
}
.d-block {
  display: block !important;
}



//END FOOTER
// -----
// *********** END HOME PAGE *************






// *********** START TRIP SHOW PAGE *************


.icon-header{
  display: flex;
  flex-direction: row-reverse;
}


// start sub nav
.sub-nav {
  // background: #faf6fb;
  width: 100%;
  text-align: center;
  // padding: 20px;
  box-shadow: 0px 20px 18px 6px #ccc;
  border-bottom: 5px solid #75cedd;
}


.sub-nav > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.sub-nav-icon {
  font-size: 1em;
  color: #FE5A59;
  height: 16px;
    width: 20px;
    padding: 0;
    margin: 0;
}

.detalis-trip{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100% !important;
}

.detalis-trip > div {
  margin-left: 10px;
}

// end sub nav

.homepage_products_item {
  background: #75ccdc;
  color: #000;
  border-radius: 14px!important;
  text-decoration: none;
  transition: .3s cubic-bezier(.6,.4,0,1);
  overflow: hidden;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 15%;
}

.trips-show .section {
  // padding: 7em 0;
  
}
.trips-show .align-items-center {
  -webkit-box-align: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}
.trips-show .trip-img {
  vertical-align: middle;
  border-style: none;
}
.trips-show .row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.trips-show .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.trips-show body {
  background: #fff;
  font-family: "Mukta Mahee", arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.8;
  color: #6c757d;
}
.trips-show .post .media-custom a {
  color: #000;
}
.trips-show .post .media-custom .media-body {
  padding: 10px 30px;
  background: #fff;
  font-family: "Mukta Mahee", arial, sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 1.8;
  color: #6c757d;
}


// START PART OF BOOKING 

.widget {
  margin-bottom: 0;
}

.bg-section {
  background: #3fd0d4;
  padding: 30px;
  
}

.p0 {
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.cfa-text {
  margin-bottom: 0;
  line-height: 45px;
  color: #FFF;
}
.trips-show a.btn-trip{
  color: rgb(34, 34, 34);
  background-color: rgb(255, 255, 255);
  white-space: nowrap;
  // padding: 18px 66px;
}

.trips-show a.btn-trip:hover{
  border-color: #23a9af!important;
  background-color: #23a9af !important;
  color: #FFF !important;
}

.btn-filled:visited {
  color: #fff;
}

.btn:visited {
  color: #745cf9;
}

.overflow-hidden{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn-trip {
  display: block;
  width: 320px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  transform: translatez(0);
  text-decoration: none;
  box-sizing: border-box;
  font-size: 24px;
	font-weight: normal;
  box-shadow: 0 9px 18px rgba(0,0,0,0.2);
  text-align: center;
	border-radius: 50px;
  padding: 6px;
  color: white;
  background: #BD3381;
  transition: all 0.2s ease-out 0s;
}
.btn-trip:hover {
  color:#ffffffd9
}

@keyframes move {
	0% {
		transform: translatex(-140px);
	}
	25% {
		transform: translatex(140px);
		opacity: 0.3;
	}
	50% {
		transform: translatex(140px);
		opacity: 1;
		background: radial-gradient(90px circle at bottom center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
	75% {
		transform: translatex(-140px);
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: translatex(-140px);
		background: radial-gradient(90px circle at top center, rgba(238,88,63,.5) 30%, rgba(255,255,255,0));
	}
}

// END PART OF BOOKING
.parallax{
  background-attachment: fixed !important;
}
.trips-show p {
  line-height: 1.714285714285714em;
}
.sub-container{
  padding: 50px 20px 1px 20px;
  background-color: #fff;
  box-shadow:0 3px 20px 20px rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
}
.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: -35px;
  background-color:#f8f8f8;
  width: 100%;
  left: 0;
}


.nav-tabs > a {
  color: #000; 
  background-color: #f8f8f8;;
}
.tab-content {
  // padding-top: 20px;
}

.section-includes {
  margin: 20px 0;
}

.includes-not-includes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.trip-description {
  flex-direction: row-reverse;
  text-align: justify;
}

.include, .not-include {
  text-align: right;
}

.trip-include{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.item-description{
  margin: 2px 0;
}
.first-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.second-col{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item > div {
  margin-left: 5px;
}
.details-guide-in-trip{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-image-guide {
  height: 150px;
  width: 150px;
  margin-bottom: 20px;
}


.paragraph {
  font-weight: 400;
  white-space: pre-wrap;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  
}

.paragraph:selection{
  background: #3fd0d4;
  color: #fff;
}

// itinerary
.section{
  text-align: right;
  margin: 30px 0;
}

.trip-title {
  margin: 24px 0 57px;
  text-align: right;
}

.part {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  padding: 20px 0;
  position: relative;
}

.part-1 {
  // position: relative;
  width: 50%;
}

.part-2{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.part-2 > img {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.header-itinerary {
  // position: relative;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.num-itinerary {
  position: relative;
  display: inline-block;
  width: 50px;
  color: #fff;
  background-color: #3fd0d4;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
  z-index: 2;
}
.title-itinerary{
  width: calc(100% - 50px);
}
.title-itinerary > h4 {
  display: inline-block;
}

.line-itinerary {
  // height: 100%;
  // height: calc(100% + 40px );
  // position: absolute;
  // z-index:0;
  // width: 50px;
  // right: 0;
  // 
  height: 100%;
  position: absolute;
  z-index: 0;
  width: 0px;
  right: 40px;

  right: 27px;
  top: 100px;
}


.trips-show .line {
  position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 100%;
    border-right: 2px dashed #3fd0d4;
    z-index: 8;
    content: '';
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}


.description-itinerary {
  margin-right: 60px;
  text-align: justify;
}
.part:last-child  .line-itinerary{
  display: none;
}

.trip-images img {
  height: 200px;
}
// *********** END TRIP SHOW *************






// *********** START LOGIN PAGE *************
.text-rtl {
  text-align: right;
}
.form-control {
  text-align: left ;
}
// .btn {
//   letter-spacing: .3em;
//   text-transform: uppercase;
//   font-weight: bold;
// }
.btn-block {
  display: block;
  width: 100%;
}
.btn-lg, .btn-group-lg>.btn {
  padding: .75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .6rem;
}
.btn-primary-login {
  color: #fff;
  // background-color: #ef5285;
  // border-color: #ef5285;
}

.dir-ltr {
  direction: ltr;
}

// .close-absolute {
//   position: absolute;
//   top: 0;
//   right: 0;
  
// }

.h-3rem {
  height: 3rem !important;
}

// *********** END LOGIN PAGE *****************

// *********** START Sign-up PAGE *************
.top-pad-zero{
  padding-top: 0 !important;
  padding-bottom: 0 !important;

}

.label-sign-up{
  margin-bottom: 0rem;
}
.my-4 {
 margin-top: 0 !important;  
 margin-top: 0 !important; 
}
.bg-cover-sign-up {
  background-size: cover;
  background-repeat: no-repeat;
}

.form-sign-up {
  padding-bottom: 0px;
}
.select-form-control > select {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
// *********** END Sign-up PAGE *************

// *********** END ALL-TRIPS page *************

.section-trips{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.section-trips > .journey{
  width: 48%;
  margin: 0 0 40px 0;
}
// *********** END ALL-TRIPS page *************


/////////////////////////////////////////////////////////////////////
// Small devices (landscape phones, 576px and up)
@media (min-width: 300px) { 
  .review{
    justify-content: center;
  }

  .review > div{
    margin-bottom: 40px !important;
  }
  .review > div:nth-child(3){
    display: none;
  }


  // TEAM 
  .team-row > div {
    overflow: hidden;
  }

  // TEAM
  // start trip show
  .header-flex {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .info-trip-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  //sub-nav 
  .detalis-trip {
    width: 40%;
    margin-top: 10px;
  }


  //end .sub-nav


  .line-itinerary {
    // height: 100%;
    // height: calc(100% + 40px );
    // position: absolute;
    // z-index:0;
    // width: 50px;
    // right: 0;
    // 
    height: 100%;
    position: absolute;
    z-index: 0;
    width: 0px;
  
    right: 27px;
    top: 65px;
  }
  //////
  #header-1 {
    height: 75vh !important;
  }
  .masthead{
    padding-top: 0 !important;
  }
  .font-weight-bold{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
  }
  // .mb-5 {
  //   margin: 0;
  //   font-size: 1.2em;
  // }
  .main-nav {
    top: 0px;
  }

  #nav-tabContent{
    margin-top: 140px;
  }
  .part {
    flex-direction: column;
  }
  .part-1, .part-2 {
    width: 100%;
  }
  .title-itinerary > h4 {
    font-size: 1em;
  }

  
  #nav-itinerary-tab, #nav-gallery-tab,#nav-information-tab{
    // border-color: #e9ecef #e9ecef #dee2e6;
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 25px;
  }
  #nav-itinerary-tab  > i, #nav-gallery-tab  > i ,#nav-information-tab > i
    {
      margin: 0 10px;
    }

  ///////


  //end trip show
  // *********** SATRT ALL-TRIPS page *************

  .section-trips > .journey{
    width: 100%;
    margin: 0 0 40px 0;
  }
  .section-guides{
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  .section-guides > .guide{
    width: 100%;
    margin: 0 0 80px 0;
  }
  // *********** END ALL-TRIPS page *************

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .review{
      justify-content: center;
      // justify-content: space-between;
      // justify-content: space-between;
    }
    .review > div{
      margin-bottom: 40px !important;
      margin-right: 2% !important;
    }
    .review > div:nth-child(3){
      display: inline-block;
    }


    //s-TEAM
    .team-row > div {
      overflow: visible;
    }
    //e-TEAM
  //start trip show page
  .header-flex {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  //sub-nav 
  .detalis-trip {
    width: 21%;
  }


  //end .sub-nav
  .line-itinerary {
    // height: 100%;
    // height: calc(100% + 40px );
    // position: absolute;
    // z-index:0;
    // width: 50px;
    // right: 0;
    // 
    height: 100%;
    position: absolute;
    z-index: 0;
    width: 0px;
    right: 50px;
    top: 40px;
  }


  ////
  #header-1{
    height: 60vh  !important;
  }
   .masthead{
    padding-top: 20px !important;
  }
  .font-weight-bold{
    font-size: 2.5rem;
    margin-bottom: .5rem !important;
    font-weight: 700 !important;
    margin-bottom: 8px !important;
  }
  // .mb-5 {
  //   margin-bottom: 1rem !important;
  //   font-size: 1.75rem;
  // }
  .main-nav {
    top: -50px;
  }

  #nav-tabContent{
    margin-top: 0px;
  }
  
  .part {
    flex-direction: row;
  }
  .part-1 {
    width: 50%;
  }
  .part-2 {
    width: 40%;
  }
  .title-itinerary > h4 {
    font-size: 1.5rem;
  }
  #nav-itinerary-tab, #nav-gallery-tab,#nav-information-tab{
    // border-color: #e9ecef #e9ecef #dee2e6;
    width: 200px;

  }
  #nav-itinerary-tab  > i, #nav-gallery-tab  > i ,#nav-information-tab > i
    {
      margin: 0 10px;
    }
    

  ////
  // end trip show page
  // *********** SATRT ALL-TRIPS page *************

  .section-trips > .journey{
    width: 48%;
    margin: 0 0 40px 0;
  }
  .section-guides > .guide{
    width: 48%;
    margin: 0 0 80px 0;
  }

  // *********** END ALL-TRIPS page *************

  
 }

// Large devices (desktops, 992px and up)

@media (min-width: 992px) { 

  //sub-nav 
  .detalis-trip {
    width: auto;
  }


  //end .sub-nav
  // *********** SATRT ALL-TRIPS page *************

  .section-trips > .journey{
    width: 30%;
    margin: 0 0 40px 0;
  }
  // *********** END ALL-TRIPS page *************



 }

