// MAIN Colorssssss
// pangaeaclub color -> light-blue = #75ccdc
// the other color is closed to red = #ef5285


@import "bootstrap/scss/bootstrap";

 .simple-form {
    display: flex;
    overflow-y: scroll;
    padding-bottom: 1.25rem;
    display: block;
  }
  .simple-form input {
    margin: 0 .25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-left: 3px solid;
    border-radius: 5px;
    transition: border-color .5s ease-out;
  }
  .simple-form input:optional {
    border-left-color: #999;
  }
  .simple-form input:required {
    border-left-color: palegreen;
  }
  .simple-form input:invalid {
    border-left-color: salmon;
  }

  .simple-form input:required:focus:valid {
    background: url("https://png.pngtree.com/svg/20170411/correct_1359045.png") no-repeat 95% 50%;
    background-size: 15px;
  }
 /* ==== */
* {
  direction: rtl;
  box-sizing: border-box;
  -webkit-box-sizing: border-box
}



//START NAV
.flex-grow-zero{
  flex-grow: 0 !important;
}

.flex-grow-zero a {
  border-bottom-style: solid;
  // border-bottom-color: #fff;
  margin-right: 10px;
}

.navbar {
  position: absolute;
  width: 100%;
}

.full-ul {
  width: 100%;
  padding: 0;
  text-align: center;
}


.navbar a {
  color:#fff !important;
}
//END NAV

// *********** START HOME PAGE *************

// -----
//START Header
.home-index header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(0,1,2,0.4) 0%, rgba(92, 77, 66, 0.8) 100%), image-url("about-bg.jpg");
  // background-image: image-url("about-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 100vh;
}
.bg_pangaeaclub {
  background-image: image-url("pangaeaclub.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
     width: 130px;
    height: 70px;
}
// color the title in nav /////////
.home-index  .nav-item:first-child > a{
  color: #ef5285 !important;
}
.navbar .nav-link {
  font-size: 1rem !important ;
  font-weight: bold  !important;
}
.home-index .header-bg {
  background: linear-gradient(0deg,rgba(44,44,44,.2),rgba(224,23,3,.6));
}
.home-index {
  background-color: #f8f9fa;
}
.home-index .txt-rotate{
  color: #ef5285;
}
// The Mouse on the end of header 
.mouse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  z-index: 2;
}

.mouse-icon {
  width: 80px;
  height: 80px;
  border: 1px dotted #e63586d9;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #75ccdc;
  cursor: pointer;
  position: relative;
  text-align: center;
  margin: 0 auto;
  display: block;

}

.arrow {
  animation-duration: 2s;
  -webkit-animation-iteration-count: 99;
  animation-iteration-count: 99;
  color: #ef5285;
}

a:hover, a:focus {
  text-decoration: none;
  color: #ef5285;
  outline: none !important;
}
.mouse-wheel {
  height: 80px;
  margin: 2px auto 0;
  display: block;
  width: 30px;
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
  color: #fff;
  font-size: 20px;
  // overflow: hidden;
  margin-top: 30px;
}
.ion-ios-arrow-round-down:before {
    content: "\f118";
}


.ftco-degree-bg:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30px;
  overflow: visible;
  width: 50%;
  height: 70px;
  z-index: 1;
  -webkit-transform: skewY(4deg);
  -moz-transform: skewY(4deg);
  -ms-transform: skewY(4deg);
  -o-transform: skewY(4deg);
  transform: skewY(4deg);
  background-color: #f8f9fa;
}

.ftco-degree-bg:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -30px;
  overflow: visible;
  width: 50%;
  height: 70px;
  z-index: 1;
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
  -o-transform: skewY(-4deg);
  transform: skewY(-4deg);
  background-color: #f8f9fa;
}
//END Header
// -----



// START Section-0
#sec-0{
  margin: 10px auto;
}
.bg-primary-light {
  // background-color: #fdeaf0;
  background-color: #ef5285;
}

.icon-rounded {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  position: relative;
}
.mb-3, .my-3 {
  margin-bottom: 1rem !important;
}
.icon-rounded svg, .icon-rounded i {
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

:not(svg) {
  transform-origin: 0px 0px;
}
svg {
  height: 40px;
  top: 10px;
  width: 40px;
  position: absolute;
  right: 10px;
}

svg-icon {
  width: 18px;
  height: 18px;
  vertical-align: text-bottom;
  stroke: currentColor;
  stroke-width: 3;
  --layer1: currentColor;
  --layer2: currentColor;
}


//END  Section-0



// START Journeys



/* journey slider */
.page-wrapper{
  margin: 50px auto;
}

.journey-slider {
  // border: 1px solid red;
  margin: 10px;
  position: relative;
}

.next {
  position: absolute;
  top:50%;
  right:30px;
  font-size: 2em;
  color: #ef5285;
  cursor: pointer;
}

.prev {
  position: absolute;
  top:50%;
  left:30px;
  font-size: 2em;
  color: #ef5285;
  cursor: pointer;
}

.slider-title{
  text-align: right;
  margin: 30px auto;
}


.journey-wrapper {
  // border: 1px dashed red;
  width:85%;
  // height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0;
}

.journey {
  display: inline-block;
  // width: 300px !important;
  margin-right: 20px;
  border-radius: 5px 5px 0px 0px !important;
  background-color: #F7F7F7;
  direction: none !important;
  // max-width:  289px !important ;
}

.hold-img > img {
  height: 300px !important;
  width: 100%;
}
.float-right, .float-left{
  direction: ltr;
}

.slick-list, .draggable{
  direction: ltr;
}

.ltr > div{
  direction: ltr;
}
//END  Journeys



// START GUIDES
.swiper-slide{
  padding-top:95px;
  height:100%;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover
}
.h-auto{
  height:auto !important
}
.px-2{padding-left:.5rem !important}
.gradient-overlay,.overlay-content{
  position:relative;z-index:20
}

// END GUIDE




// Start TEAM


// END TEAM

//START FOOTER
 .site-footer {
  padding: 5em 0;
  background: #262626;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
}
 .site-footer a {
  color: #e74208;
  border-bottom: 1px solid transparent;
}

 .site-footer {
  direction: ltr !important;
}

 .site-footer .footer-link li {
  line-height: 1.5;
  margin-bottom: 15px;
}

 .footer-social a {
  line-height: 0;
  border-radius: 50%;
  margin: 0 5px 5px 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
}
 .list-unstyled {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 1rem;
}

 .fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .p-2 {
  padding: 0.5rem !important;
}

 .d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

 .fa-twitter:before {
  content: "\f099";
}

///
// @media (max-width: 576px){
//      .container {
//       max-width: 540px;
//   }
//    .container {
//       width: 100%;
//       padding-right: 15px;
//       padding-left: 15px;
//       margin-right: auto;
//       margin-left: auto;
//   }
// }


//END FOOTER
// -----
// *********** END HOME PAGE *************






// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

  // .journey {
   
  // }
 }
